.idea/libraries/Maven__com_google_j2objc_j2objc_annotations_1_1.xml
/otus-java-2018-01-nkargin.iml
/.idea/
/target/
/homework_1/homework_1.iml
/homework_1/target/
/homework_2/target/
/homework_3/target/
/homework_2/homework_2.iml
/homework_3/homework_3.iml
homework_1/src/main/resources/
homework_1/src/test/
homework_2/src/main/resources/
homework_3/src/main/resources/
